.loading__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  &-icon {
    animation: rotate 2s linear infinite;

    .path {
      stroke: rgba(0, 0, 0, 0.75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

.modal__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  position: relative;
  top: 100px;
  width: 100%;
  animation: fadeOut 2s forwards;

  &-wrapper {
    position: absolute;
    padding: 12px;
    text-align: center;
    z-index: 10;
    box-shadow: rgba(150, 150, 150, 0.75) 0px 2px 8px 0px;
    border: 2px solid rgba(0, 0, 0, 0.75);
    background: white;
  }

  @keyframes fadeOut {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
}
