.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  font-size: 14px;

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
  }

  @media screen and (min-width: 512px) {
    img {
      height: 48px;
      width: 48px;
    }
  }

  .modal {
    &__nav-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 2px;

      &--left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
      }
    }

    &__comments-wrapper {
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
    }

    &__comments {
      width: 100%;
    }

    &__post,
    &__comments-comment {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      width: 100%;
      gap: 8px;

      img {
        display: flex;
        align-items: center;
      }

      span {
        padding: 0 4px;
        text-align: center;
        font-weight: 600;
        // overflow-wrap: break-word;
      }
      p {
        text-align: justify;
        overflow: hidden;
        overflow-wrap: break-word;
      }
    }

    &__post {
      padding: 8px 12px;
      border-bottom: 2px solid #ededed;
    }

    &__nav-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 12px;
      width: 100%;
      gap: 8px;
      border-top: 2px solid #ededed;

      img {
        display: flex;
        align-items: center;
      }

      input {
        padding: 0 4px;
        width: 100%;
        font-size: 16px;
        outline: none;
      }

      button {
        padding: 0 4px;
        color: rgb(0, 149, 246);
        font-weight: 600;
        font-size: 16px;
      }

      button:after {
        outline: none;
      }
    }
  }
}
