.footer {
  padding: 16px 8px;
  border-top: 2px solid #ededed;

  .nav {
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }

    &__item {
      position: relative;
    }

    &__btn {
      display: flex;
      align-items: center;
      transition: all 0.25s;
      cursor: pointer;

      &:hover {
        opacity: 50%;
      }
    }
  }
}
