.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0;
  border-bottom: 2px solid #ededed;

  &__logo {
    height: 48px;
    margin-left: 8px;
  }

  .nav {
    // &__icon {
    //   height: 32px;
    //   width: 32px;
    //   margin: 8px;
    // }
    margin-right: 16px;

    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      gap: 12px;
    }

    &__item {
      position: relative;
    }

    &__btn {
      display: flex;
      align-items: center;
      transition: all 0.25s;
      cursor: pointer;

      svg {
        height: 32px;
        width: 32px;
      }

      &:hover {
        opacity: 50%;
      }
    }
  }
}
