.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;

  &__logo {
    height: 48px;
  }

  .nav {
    // &__icon {
    //   height: 32px;
    //   width: 32px;
    //   margin: 8px;
    // }

    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }

    &__item {
      position: relative;
    }

    &__btn {
      display: flex;
      align-items: center;
      transition: all 0.25s;
      cursor: pointer;

      svg {
        height: 32px;
        width: 32px;
        margin-right: 12px;
      }

      &:hover {
        opacity: 50%;
      }
    }
  }
}
