.posts {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 196px;

  .post {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    border-bottom: 2px solid #ededed;
    padding-bottom: 8px;
    animation: fadeIn 0.5s ease-out;

    .post__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px;

      &-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        &--img {
          height: 48px;
          width: 48px;
          border-radius: 50%;
        }

        @media screen and (max-width: 513px) {
          &--img {
            height: 32px;
            width: 32px;
          }
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
          opacity: 50%;
        }
      }
    }

    .post__photo {
      display: flex;
      justify-content: center;
      max-height: 300px;
      background: #ffffff;
      border-top: 2px solid #ededed;
      border-bottom: 2px solid #ededed;

      img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        margin: -2px 0;
      }
    }

    .post__bot {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 12px;

      .post__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;

        &-left,
        &-right {
          display: flex;
          align-items: center;
          gap: 12px;

          .btn-tiny {
            display: flex;
            align-items: center;
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
              opacity: 50%;
            }
          }
        }
      }

      .post__description {
        details > summary {
          list-style: none;
        }

        details[open] > summary {
          display: none;
        }
        span {
          text-align: justify;
        }
        &-username {
          font-weight: 600;
        }

        &-btn {
          font-weight: 600;
          cursor: pointer;
          // color: rgba(0, 0, 0, 0.5);
          filter: contrast(50%);
        }
      }

      .post__comments {
        font-weight: 600;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
